@import 'variables';

.todo-item-container {
  text-align: left;
  margin: 50px 0 50px 0;
  .input {
    width: 50%;
  }
}
app-todo-item:last-child {
  border-bottom: 1px solid $divisor-color;
  display: inline-block;
  width: 100%;
}
