body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

.button {
  background-color: $success-color;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 0 10px 0 10px;
  outline: none;
  padding: 10px;
  &.danger {
    background-color: $danger-color;
  }
}

.input {
  border-radius: 3px;
  border: 1px solid $border-color;
  padding: 5px;
  min-height: 22px;
}
